@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Checkout page</h1>

<form method="post">
    <p>Total: SGD 2,000,000</p>
    <label>Shipping address</label>
    <input name="address" />
    <button type="submit">Submit</button>
</form>
