@model HelloWorld.Models.MessageViewModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h2>Message: @Model.Message</h2>
    <h2>From: @Model.From</h2>
</body>
</html>
