@{
    ViewData["Title"] = "Home Page";
}

<style>
    div {
        display : inline-block;
        margin-right : 10px;
    }
</style>

<p>Fill in the blank and hit Enter to check your answer</p>


<div><input id="a"></div> + <div id="b">B</div> = <div id="c">C</div>


<br>
<br>

<p id="output">
    To Check if it's right
</p>

