@{
    ViewData["Title"] = "Home Page";
}

@section Scripts {
    <script src="~/js/math_qtn.js"></script>
    <link rel="stylesheet" href="~/css/math_qtn.css"/>
}

<div id="instruction">Fill in the blank and hit Enter to check your answer.</div>

<font size="30px">
    <input id="lhs" size="3"> + <div id="rhs"></div> = <div id="ans"></div>
</font>

<div id="msg"></div>

